@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@radix-ui/colors/black-alpha.css";
@import "@radix-ui/colors/violet.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220 90% 50%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

video-player-container {
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(2)) {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(5)) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(17)) {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

video-player-container {
  width: 100%;
  height: 100%;
  display: grid !important;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(2)) {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

video-player-container:has(> :nth-child(5)) {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

video-player {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

progress {
  border-radius: 7px;
  height: 10px;
  margin-top: 14px;
}

progress::-webkit-progress-bar {
  background-color: grey;
  border-radius: 7px;
  overflow: hidden;
}

progress::-webkit-progress-value {
  background-color: #0c57ec;
  border-radius: 7px;
}

progress::-moz-progress-bar {
  background-color: grey;
  border-radius: 7px;
}

.preview-video-container {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.video-container {
  background: #403f3f;
  border: solid 12px #403f3f;
  border-radius: 12px;
}

.preview-controls-container {
  display: flex;
  margin-top: 13px;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap
}

.preview-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-drop-container {
  display: flex;
  align-items: center;
}

.preview-btn {
  border-radius: 32px;
  padding: 0px;
  border: solid 32px hsl(220deg 89.96% 48.72%);
}


@media screen and (max-width: 800px) {
  .preview-video-container {
    width: 95vw;
  }
}